---
import MobileButton from '../../mobile-menu-btn/MobileButton.astro';
import Logo from '../../logo/Logo.astro';
import NavLink from '../nav-link/NavLink.astro';

import SocialIcon from '../../social-icon/SocialIcon.astro';
const { activePage } = Astro.props;

/*
List of Nav Links

If a link is a parent of a submenu, add at sublinks 
array with new level of links. Each sub link must 
have a sublink: true property

If a page is a CTA, add ctaLink: true

Active nav links are automatically caught
*/
const pages = [
  { title: 'Home',    link: '/',                      },
  { title: 'Home 2',    link: '/index2',                      },
  { title: 'About',   link: '/about'                  },
  { title: 'Contact', link: '/contact'                },
  { title: 'More',    link: '#',       subLinks: [
      { title: 'SubLink1', link: '/', sublink : true },
      { title: 'SubLink2', link: '/', sublink : true },
      { title: 'SubLink3', link: '/', sublink : true },
  ]},
  { title: 'CTALink', link: '/cta',    ctaLink: true },
];

const socials = [
  { name :  'Facebook',     link : 'https://facebook.com',  },
  { name :  'Instagram',    link : 'https://instagram.com', },
  { name :  'TikTok',       link : 'https://tiktok.com',    },
  // { name :  'Twitter',   link : 'https://twitter.com',   },
  // { name :  'LinkedIn',  link : '',    },
  // { name :  'Pinterest', link : '',    },
  // { name :  'GitHub',    link : '',    },
  // { name :  'Reddit',    link : '',    },
  // { name :  'WhatsApp',  link : '',    },
  // { name :  'YouTube',   link : '',    },
]
---



<nav class="container">

<Logo />

<MobileButton />

<ul class="main-nav">
{ 
pages.map( page => 
  <li class={ page.ctaLink ? 'cta-nav-li' : '' }>
    <NavLink page={page} activePage={activePage} />
    {
    page.subLinks &&
      <ul class="dropdown-menu">
        { page.subLinks.map( page => 
          <li>
            <NavLink page={page} activePage={activePage} />
          </li> 
        )}
      </ul>
    }
  </li> )
}
</ul><!-- .main-nav -->

<ul class="socials">
{ socials.map( social => 
  <li>
  <a href={social.link} target="_blank"> 
    <SocialIcon name={social.name} fill="white" size="24" />
  </a>
  </li>
)} 
</ul>

</nav>


      

<style>

/* Default/Mobile */
nav {
  position : fixed;
  inset : 0 0 auto 0;
  z-index : 500;

  padding : 1rem 2vw;
  display : flex;
  justify-content: flex-start;
  align-items: center;

  color: hsl( var(--clr-primary-2) );
  font-size: var(--font-size-1);
}

nav::before {
  content : '';
  position: absolute;
  inset : 0 auto 0 50%;
  z-index : -1;
  width : 100vw;
  translate : -50%;
  
  background-color: hsl( var(--clr-primary-6) );
}

.main-nav { 
  display : flex; 
  justify-content: flex-end;
  align-items: center;
  gap : var(--font-size-1);
  margin-inline : 2rem;
}

.socials {
    display : none;
}

li {
    position: relative;
}

li:not( .cta-nav-li ) {
  display : none;
}

/* Desktop/Tablet */
@media screen and (min-width : 900px) {

.main-nav {
  margin : 0;
}
.socials {
  display :flex;
  justify-content: flex-end;
  align-items: center;
  gap : var(--font-size-1);
}

li:not( .cta-nav-li ) {
  display :inline-flex;
  align-items: center;
}

a {
  display : inline-block;
  line-height: 0;
}
}

</style>




<style is:global>

.dropdown-menu {
  position: absolute;
  inset : 100% 0 auto 0;
  z-index : 500;

  display : flex;
  flex-direction: column;
  gap : 1rem;
  overflow: hidden;
  width : min-content;
  padding : 1rem 2rem;

  background-color: hsl( var(--clr-primary-6) );
  border-radius: 7px;
  clip-path: polygon(0 0, 100% 0, 200% 0, 0 0);

  transition: all 300ms ease-in-out;
}

.nav-link:hover + .dropdown-menu,
.nav-link:focus + .dropdown-menu,
.dropdown-menu:hover,
.dropdown-menu:focus {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.mobile-menu-is-open .dropdown-menu {
  /* position : relative; */
}

.mobile-menu-is-open .main-nav {
  position : absolute;
  inset : 0 0 auto 0;
  z-index : 500;

  display : flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  
  margin : 0;
  padding : 20vh 4vw;
  height : 100vh;

  font-size: var(--font-size-4);
  background-color : hsl( var(--clr-primary-6) );
}

.mobile-menu-is-open .main-nav li {
  display : flex;
}
  

</style>




